.desc {
  padding: 10px 5px 10px 5px; 
  text-align: left;
  font-size: 18px;
  margin-left: 2px;
  margin-top: -15px;
  border-bottom: 1px solid var(--color-border);
}
.fnd .facility a.btn {
  width: calc(100% - 5px);
}
.facility .icon {
  float: left;
}
.facility .icon, .facility .icon img {
  width: 18px;
  height: 18px;
}
.fnd #banner, .fnd #banner * {
  color: #FBED30;
}
.description {
  background-color: var(--color-medium);
}
.lst-it:nth-child(odd) .dtl .clps .content {
  background-color: var(--color-light);
}
.lst-it:nth-child(even) .dtl .clps .content {
  background-color: var(--color-medium);
}
.btn-sq:hover, .btn-rnd:hover {
  background-color: #0B71D0;
  color: var(--color-light);
}
.tabs button.btn.active:focus, .tabs button.btn.active:focus * {
  background-color: var(--focus-ring-color);
  color: black;
}
.filter-chc-1 {
  width: calc(95% - 8px);
  margin-left: 10px;
  padding-top: 10px;
  margin-bottom: -5px;
  border: none;
}
.filter-chc-1 .chc-chc {
  display: inline-block;
  padding: 0;
  width: 50%;
  border: none;
}
.filter-chc-1 label {
  background-color: var(--color-button);
  font-weight: bold;
  display: table;
  width: 100%;
  text-align: center;
}
.filter-chc-1 label[for="chc-chc-6"] {
  background-image: url(../img/access1.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px;
}
.filter-chc-1 input:checked+label, #acc-filter input:checked+label * {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.filter-chc-1 input {
	display: none
}